@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
.footerContainer {
  display: flex;
  flex-direction: column;
  padding: 5vh 10vw;
  background: #f9f9fb;
  justify-content: center;
}
.footerMainContainer {
  margin-bottom: 20px;
}
.footerMain {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.footerLogoContainer {
  width: 100px;
}
.footerLogo {
  width: 100%;
  border-bottom: 2px solid grey !important;
  border-radius: 10px;
}
.footerText {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 28px;
  color: #848484;
  mix-blend-mode: normal;
}
.footerCopyRight {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 28px;
  color: #848484;
  mix-blend-mode: normal;
}
.footerTitle {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 40px;
  color: #393939;
  mix-blend-mode: normal;
}
.footerItem {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 30px;
  color: #848484;
  mix-blend-mode: normal;
}
.footerSocmed {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  padding: 20px;
  border-top: 1px solid #c4c4c4;
}
