@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10vh 10vw;
}
.inputContainer {
  padding-right: 10px;
}
.inputType {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  color: #4e4e4e;
  border: 0.8px solid #afb0b9;
  border-radius: 6px;
  background-color: transparent;
  padding: 10px 20px;
  width: 100%;
  height: 55px;
}
.inputType::placeholder {
  color: #4e4e4e;
}
.inputType:focus {
  outline: none;
}
.inputLocation {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  color: #4e4e4e;
  border: 0.8px solid #afb0b9;
  border-radius: 6px;
  background-color: transparent;
  padding: 10px 20px;
  width: 100%;
  height: 55px;
  /* height: 100%; */
}
.inputLocation:focus {
  outline: none;
}
.inputDate {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  color: #4e4e4e;
  border: 0.8px solid #afb0b9;
  border-radius: 6px;
  background-color: transparent;
  padding: 10px 20px;
  width: 100%;
  height: 55px;
}
.inputDate:focus {
  outline: none;
}
.inputDate::placeholder {
  color: #4e4e4e;
}
.inputButton {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  color: #4e4e4e;
  background: #ffcd61;
  box-shadow: 0px 0px 20px rgba(251, 143, 29, 0.39);
  border-radius: 6px;
  border: 2px solid #ffcd61;
  padding: 10px 20px;
  width: 100%;
  height: 55px;
  cursor: pointer;
}
.inputButton:active {
  border: 2px solid #4e4e4e;
}

.popularContainer {
  display: flex;
  flex-direction: column;
  padding: 0 10vw 10vh;
}
.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  mix-blend-mode: normal;
  margin-bottom: 40px;
}
.view {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 60px;
  display: flex;
  align-items: center;
  color: #fb8f1d;
  mix-blend-mode: normal;
  cursor: pointer;
}
.view:active {
  color: #000000;
}
.itemContainer {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  column-gap: 20px;
  flex-wrap: wrap;
}
.item {
  width: 250px !important;
  height: 300px !important;
  cursor: pointer;
}
.itemImage {
  /* width: 100% !important;s */
  object-fit: cover !important;
  border-radius: 8px;
  position: absolute !important;
  border: 2px solid transparent !important;
}
.itemImage:hover {
  border: 2px solid #d5d9e4 !important;
  z-index: 10;
}
.itemImage:active {
  border: 2px solid #b8becd !important;
  z-index: 10;
}
.itemDetail {
  background: #ffffff;
  border-radius: 0px 8px;
  position: relative;
  width: 120px;
  height: 60px;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.itemName {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #042521;
  mix-blend-mode: normal;
}
.itemLocation {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #b8becd;
  mix-blend-mode: normal;
}
.closeContainer {
  display: flex;
  flex-direction: row;
  width: auto;
  padding: 0 10vw 5vh;
  cursor: pointer;
  justify-content: flex-end;
}
.closeButton {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  color: #000000;
  display: flex;
  align-items: center;
  mix-blend-mode: normal;
  cursor: pointer;
}
.closeButton:active {
  color: #ffcd61;
}
.loadingContainer {
  padding: 0 10vw 20vh;
  text-align: center;
}
.resultContainer {
  padding: 0 10vw 0;
}
.emptyContainer {
  padding: 0 10vw 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.notFound {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  color: #000000;
  display: flex;
  align-items: center;
  mix-blend-mode: normal;
  cursor: pointer;
}
.typeContainer {
  display: flex;
  flex-direction: column;
  padding: 0 10vw 10vh;
}
.resultItemContainer {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
  align-items: center;
  row-gap: 20px;
  column-gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 5vh;
}

.pagination {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}
.page {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  color: #000000;
  padding: 10px;
  border: 2px solid transparent;
}
.nextButton,
.prevButton {
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  color: #000000;
  padding: 10px;
  border: 2px solid transparent;
  cursor: pointer;
}

.nextButton:active,
.prevButton:active {
  border-bottom: 2px solid black;
}
